In [9]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('cluster.csv')

In [6]:
df

   id   X   Y  Class
0   1  61  48      1
1   2  62  28      1
2   3  83  84      0
3   4  68  24      1
4   5  56  39      1
5   6  32  95      1
6   7  99  14      1
7   8  87  64      0
8   9  44  35      0
9  10  70  51      0

In [7]:
new_object = np.array((94, 37))

In [12]:
df[['X', 'Y']].apply(lambda x: np.sqrt(np.sum((x - new_object)**2)), axis=1).sort_values()

6    23.537205
9    27.784888
7    27.892651
3    29.068884
1    33.241540
0    34.785054
4    38.052595
2    48.270074
8    50.039984
5    84.899941
dtype: float64

In [19]:
df.loc[[6, 9, 7]]['id'].values

array([ 7, 10,  8])

In [15]:
df[['X', 'Y']].apply(lambda x: np.sum(np.abs(x - new_object)), axis=1).sort_values()

6     28
7     34
9     38
3     39
4     40
1     41
0     44
8     52
2     58
5    120
dtype: int64

In [18]:
df.loc[[6, 7, 9]]['id'].values

array([ 7,  8, 10])