In [24]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('report.csv')

In [3]:
df.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,76.523438,34.087196,2.024270,8.131775,7.983278,36.657363,4.888890,23.675354,1
1,98.367188,50.305919,0.409147,0.073141,0.842809,11.235635,16.359947,301.281519,0
2,98.468750,38.377634,0.444190,1.620170,2.318562,15.334935,10.598637,141.679457,0
3,73.601562,37.389282,1.978300,7.076543,5.881271,30.217483,5.758598,33.909779,1
4,98.390625,38.090606,0.181847,1.328353,2.646321,15.262458,8.322597,90.983960,0

In [4]:
df.shape

(203, 9)

In [6]:
df['MIP'].mean()

86.29960745073892

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
0,76.523438,34.087196,2.024270,8.131775,7.983278,36.657363,4.888890,23.675354
1,98.367188,50.305919,0.409147,0.073141,0.842809,11.235635,16.359947,301.281519
2,98.468750,38.377634,0.444190,1.620170,2.318562,15.334935,10.598637,141.679457
3,73.601562,37.389282,1.978300,7.076543,5.881271,30.217483,5.758598,33.909779
4,98.390625,38.090606,0.181847,1.328353,2.646321,15.262458,8.322597,90.983960
...,...,...,...,...,...,...,...,...
198,98.398438,39.894263,0.355472,1.479615,4.084448,21.655104,6.472466,47.479061
199,98.203125,35.151093,0.615165,2.365818,2.602007,15.251530,8.414599,92.122652
200,98.398438,38.684893,0.309010,1.338891,3.319398,21.789852,8.000014,70.629042
201,98.195312,41.388038,0.494908,0.943453,13.322742,49.246271,3.451562,10.029465
202,74.484375,38.732453,1.442539,4.753956,5.420569,29.346925,5.828484,34.522743

In [18]:
df_features = df.drop('TARGET', axis=1)

In [19]:
df_scaled = pd.DataFrame(scaler.fit_transform(df_features))
df_scaled.columns = df_features.columns

In [21]:
df_scaled.MIP.mean()

0.5611016493926685

In [22]:
STAR = [0.533, 0.574, 0.172, 0.011, 0.35, 0.695, 0.483, 0.179]

In [26]:
distances = df_scaled.apply(lambda x: np.sqrt(np.sum((x - STAR)**2)), axis=1)

In [28]:
distances.sort_values()

89     0.633082
41     0.648111
117    0.674377
130    0.688011
19     0.691521
         ...
116    1.386811
145    1.402973
121    1.421466
156    1.452561
164    1.590654
Length: 203, dtype: float64